

  #startDateSelect2{
    background-color: white;
  }
  #select2{
    padding-left: 5px;
  }

  .select-style-1{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 0;
  }

  .select-style-1 option{
    padding: 25px;
    height: 38px;

  }

  #cbxSchedule{
    color: #666;
    font-size: 16px;
    font-weight: 500;
  }
  p.toLabel{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    padding-top: 9px;
  }